<form action="/join/<%=user.id%>/?_method=PATCH" method="POST">
  <h1>Join the Club</h1>
  <p>Enter the secret password to become a member</p>
  <span><%= message %></span>
  <div>
    <label for="passcode">Passcode</label>
    <input type="text" name="passcode" />
  </div>
  <button type="submit">Submit</button>
</form>
