<h1>Login</h1>
<% if (messages.error) { %> <%= messages.error %> <% } %>
<form action="/login" method="POST">
  <div>
    <label for="email">Email</label>
    <input type="email" name="email" />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="text" name="password" />
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
  <p>Dont have an account? Sign up<a href="/sign-up"> here</a></p>
</form>
